code[class*="language-"],
pre[class*="language-"] {
    font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #1d1f21;
    color: white;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #e1e6e1;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    text-shadow: none;
    background: #e1e6e1;
}

pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #c2c5c2;
}

.token.punctuation {
    color: #dce0de;
}

.token.namespace {
    opacity: 0.7;
}


.token.boolean,
.token.number {
    color: #c641ee;
}
.token.operator,
.token.property {
    color: #eeb33d;
}

.token.tag {
    color: #4082bb;
}

.token.string {
    color: #00fddb;
}

.token.selector,
.token.attr-name {
    color: #FF5800;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #27b8a4;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
    color: #afbd37;
}

.token.statement,
.token.regex,
.token.atrule {
    color: #66FFEB;
}

.token.placeholder,
.token.variable {
    color: #464b80;
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted #fff;
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.important {
    color: #c54238;
}

.token.entity {
    cursor: help;
}

pre > code.highlight {
    outline: 0.4em solid #c54238;
    outline-offset: 0.4em;
}
